.container{
    width: 600px;
    border:solid;
    height: 500px;
    display: flex;
    justify-content:flex-start;/*space-around space-between center flex-end flex-start;*/
    align-items:flex-start;
    /* flex-direction: column-reverse;
     */
     /* flex-direction: row; */
     /* flex-wrap: wrap; */
     /* align-content: space-evenly; */
     /* flex-flow: column wrap; */
}
.red,
.green,
.blue,
.yellow{
    width: 100px;
    height: 100px;
}
.red{
    /* width: 500px; */
    background-color: red;
    order: 2;
    /* height: 200px; */
    /* flex-shrink: 2; */
    /* flex-grow: 2; */
    /* align-self: stretch; */
}
.blue{
    background-color: blue;
    
    /* flex-shrink: 1; */
    /* flex-grow: 3; */
}
.green{
    background-color: green;
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
}
.yellow{
    background-color: yellow;
    /* flex-grow: 2; */
    /* flex-shrink: 1; */
    order: -1;
}

.wrapper{
    width: 500px;
    height: 500px;
    border:solid;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.box{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 0;
}
.square{
    width: 200px;
    height: 200px;
    background-color: brown;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    z-index: 0;
}
.call{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
    position: fixed;
    right: 10px;
    bottom: 10px;
}