* {
    color: red;
}

p {
    color: green;
}

.text-color {
    color: purple;
}


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'Brushed';
    src: url(../fonts/Brushed.ttf);
}

#myText {
    text-indent: 50px;
    font-family: "Pacifico", cursive;
    font-family: 'Brushed';
    /* background-color: rgba(0, 0, 0, .5); */
    color: #000;
    /*rgb(205, 75, 75);*/
    font-size: 24px;
    font-weight: bold;
    /*normal - 400; bold - 700*/
    font-style: italic;
    text-align: justify;
    text-align-last: center;
    line-height: 36px;
    /* word-spacing: 25px; */
    /* letter-spacing: 5px; */
    text-decoration: underline green double;
    text-transform: capitalize;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    /* padding-top: 200px; */
    /* padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 100px; */
    padding: 20px 50px 100px 200px;
    /* margin-top: 50px; */
    /* margin: 50px 100px 200px 10px; */
    /* border: solid 10px green;
    border-top: dashed 20px yellow;
    border-bottom: dotted 50px lime;
    border-left: 10px double #000;
    border-right: solid; */

    /* border:solid 20px green;
    border-style: none double; */
    box-shadow:5px -5px 20px #000;
    text-shadow: 1px 1px 2px green;

    /* font-family:Arial, Helvetica, sans-serif; */
}
span{
    vertical-align: super;
}