/* img{
    width: 400px;
}
body{
    background-color: tomato;
} */

.img-left{
    /* display: block; */
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

p{
    /* background-color: lightblue; */
    /* margin-left: 210px; */
}
.text-2{
    clear: left;
}
.img-right{
    width: 200px;
    float: right;;
}

body{
    /* vw, vh */
    /* height: 2000px; */
    /* height: 100vh; */
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    /* background-position-x: 200px;
    background-position-y:bottom; */
    /* background-position: center bottom; */
    background-size: 100% ;
    background-attachment: scroll
    
}